<h3><span>India’s Beloved </span>Taxi Service</h3>
<br>
<div>
    <h5>We are not an option, we are a choice</h5>
    <br>
    <p>We're #1 choice of 10 Million people because we're the solution of India's intra-city</p>
    <br>
    <p>commuting problems. With assured safety, we also provide economically priced rides.</p>
</div>
<br>
<div >
    <h5>What makes us different?</h5>
    <br>
    <p>Our bike taxis can dodge the traffic
    During peak hours and</p><br> <p> get you to the destination in a jiffy! So when you think travel, think Rapido.</p>
</div>
